@media only screen and (min-width: 768px) {
  @import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body,
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  main {
    width: 100%;
    height: 4561px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .desktop-navbar-container {
    display: block;
    width: 100%;
    height: 72px;
    background-color: #3e3c3c;
  }

  .desktop-navbar {
    display: flex;
    align-items: center;
    gap: 32px;
    height: inherit;
    padding: 0 3%;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  @keyframes slideInFromRight {
    100% {
      transform: translateX(0);
    }

    0% {
      transform: translateX(-10%);
    }
  }

  .autor {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    width: 92px;
    height: 20px;
    margin-right: auto;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .desk-port {
    width: 63px;
    height: 20px;
  }

  .desk-about {
    width: 45px;
    height: 20px;
  }

  .desk-contact {
    width: 59px;
    height: 20px;
  }

  .desk-contact,
  .desk-about,
  .desk-port {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .desktop-navbar a {
    color: #fff;
  }

  .mailbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  /* Hero styles */
  .sec-container {
    width: 100%;
    height: auto;
    background-image: url("./desktop-img/Illustration-header.svg");
    background-repeat: no-repeat;
    background-size: 40% 90%;
    background-position-x: right;
    background-position-y: top;
  }

  .hero {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .desk-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 192px 0;
    gap: 5%;
    width: 100%;
    height: 739px;
    margin-right: 22%;
  }

  .header {
    width: 100%;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    padding-left: 0;
  }

  .sub-header {
    width: 100%;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    padding-left: 0%;
    margin: 0;
  }

  .para {
    width: 100%;
    height: 123px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding-left: 0;
  }

  .anchor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: -1;
    width: 20px;
    height: auto;
    margin-left: 2%;
  }

  .main-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    justify-content: center;
    padding: 130px 0;
    width: 100%;
    height: auto;
  }

  .tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 97%;
    gap: 0;
    margin-top: auto;
  }

  .tittle-header {
    width: 40%;
    height: 52px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .vector {
    width: 50%;
  }

  .work-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .cards-frame {
    display: grid;
    grid-template-columns: repeat(auto-fit, 369px);
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 8px;
    margin: 0;
    gap: 12px;
  }

  button.some-pro-text {
    display: none;
  }

  .card1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }

  .all-cards {
    height: auto;
    padding-top: 48px;
    cursor: pointer;
    width: 100%;
    background-image: url("./img/cards/card2.svg");
    background-size: cover;
  }

  .all-cards:hover {
    background-image: url("./desktop-img/work/card1.svg");
    border: 2px solid black;
  }

  .all-cards:hover .some-pro-text {
    display: block;
    margin-top: 315px;
  }

  .all-cards:hover .no-btn {
    display: none;
  }

  .works-img {
    width: 684px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }

  .social:hover {
    background-color: red;
  }

  .works-img:hover {
    transform: scale(1.1);
  }

  .card1-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 448px;
    height: 348px;
  }

  .works-header {
    width: 448px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .works-text {
    width: 440px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .language {
    align-items: flex-start;
    padding: 1px 0;
    gap: 31px;
  }

  .skills {
    margin-left: 25%;
    gap: 25px;
    width: auto;
  }

  .main-skills {
    padding: 0;
    gap: 12px;
  }

  .language-header {
    align-items: flex-start;
    padding: 4px 31px;
  }

  /* About section */

  .about-container {
    background-image: url("./desktop-img/about.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 80px;
    background-size: 385px;
    height: 27.4%;
  }

  .first-about-container {
    padding-left: 7%;
    gap: 50px;
  }

  .about-header {
    margin-bottom: 0;
  }

  .about-para {
    width: 49%;
    height: 148px;
    font-size: 20px;
    line-height: 32px;
  }

  .about-divider {
    width: 90%;
    margin-left: 42px;
    margin-top: -1%;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    width: 100%;
    height: 596px;
    margin-top: 60px;
    gap: 0;
  }

  /* Form Section */

  form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 170px 0;
    gap: 50px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .form-p {
    width: 455px;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #a8a8a8;
  }

  .form-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    width: 684px;
    height: auto;
  }

  .desk-same input {
    width: 684px;
    height: 48px;
    border-bottom: 2px solid gray;
  }

  .msg-field textarea {
    height: 114px;
  }

  footer {
    width: 100%;
    margin-top: 125px;
  }

  .foot-social:hover {
    transform: scale(1.1);
  }

  .form-divider img {
    display: none;
  }

  /* Turning off mobile view styles */
  .header-container {
    display: none;
  }
}
