/* Styles for the header section. For mobile viewport only */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 375px;
  height: 6968px;
  background-color: #fff;
  margin: 0 auto;
}

.header-container {
  background-color: rgb(56, 56, 56);
  width: 100%;
  margin: 0 auto;
  padding: 0.625em;
  height: 5.75em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.name {
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0;
  background-color: rgb(56, 56, 56);
  text-decoration: none;
}

.logo {
  align-self: center;
  height: 0.72em;
}

/* Styles for the hero section. For mobile viewport only */
.header {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.sub-header {
  width: 327px;
  height: 27px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  color: #fff5e1;
  margin-top: 10%;
}

.sub-header,
.para {
  margin-left: 5%;
}

.para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 123px;
  color: #fff;
}

.anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
}

.hero {
  width: 88%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
}

h1,
h4,
.para,
.anchor {
  width: 90%;
  margin: 0 auto;
  padding: 0.438em;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.sec-container {
  background-image: url("./img/illustration/Group.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 45% 45%;
  width: 100%;
  background-color: #1c1a19;
}

/* Styles for work section. For mobile viewport only */
.main-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  width: 100%;
  height: 3455px;
}

.tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
  width: 327px;
  height: 107px;
  margin: 35% auto auto;
}

.tittle-header {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
}

.victor {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
}

.work-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  gap: 24px;
  width: 200px;
  height: 3028px;
  margin: 0 auto;
}

.card1-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 24px;
  width: 100%;
  height: 568px;
  margin: 0 auto;
}

.works-img {
  width: 327px;
  height: 237px;
}

.card1-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 327px;
  height: 107px;
  margin: 0 auto;
}

.works-header {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.works-header,
.works-txt,
.tech {
  margin-bottom: 5%;
}

.works-txt {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 147px;
  color: #091e42;
}

.tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
}

.css {
  width: 49px;
}

.html {
  width: 56px;
}

.boot {
  padding: 15px 15px;
  width: 95px;
}

.ruby {
  width: 61px;
}

.css,
.html,
.ruby {
  padding: 10px 12px;
}

.css,
.html,
.boot,
.ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  color: #091e42;
  background-color: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

button.pro1-text {
  width: 127px;
}

button.some-pro-text {
  width: 100%;
}

button.pro1-text,
button.some-pro-text {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #ff6b00;
  border: #ff6b00;
  height: 48px;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.cards-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 100%;
  height: 2436px;
  margin: 2% 0 auto auto;
}

.all-cards {
  width: 100%;
  height: 386px;
  margin: 0 auto;
  background-image: url("./img/cards/card2.svg");
}

.no-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  width: 100%;
  height: 248px;
  margin: 28% 0 auto auto;
}

.no-btn h2 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: -5%;
}

.no-btn p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 295px;
  padding-right: 5%;
  height: 87px;
  color: #fff;
  margin-top: 3%;
}

.cards-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 40px;
  margin-top: 5%;
}

.html-btn {
  width: 56px;
}

.boot-btn {
  width: 95px;
}

.ruby-btn {
  width: 61px;
}

.html-btn,
.boot-btn,
.ruby-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

/* Styles for about section. For mobile viewport only */
.about-container {
  width: 375px;
  height: 1901px;
  background-color: #1c1a19;
  background-image: url("./img/about/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 23%;
}

.first-about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  width: 100%;
  height: 563px;
}

.about-header {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.28px;
  color: #ff6b00;
  margin-bottom: 5%;
}

.about-para {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

button.about-btn-text {
  width: 161px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
  background-color: #ff6b00;
  border: #ff6b00;
}

.about-divider {
  width: 327px;
  height: 17px;
  margin: 20% 0 0 7%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 329px;
  height: 1241.46px;
  margin-top: 30%;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 24px;
  width: 225.46px;
  height: 281.46px;
}

.language-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
  height: 41.46px;
}

.language-h1 {
  width: 164px;
  font-family: 'InaiMathi', sans-serif;
}

.main-language {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 14%;
  width: 186px;
  height: 216px;
  margin-left: 20%;
}

.skill-js,
.skill-rub,
.skill-html,
.skill-css {
  font-family: 'Inter', sans-serif;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.skill-js,
.skill-html,
.skill-css {
  width: 114px;
}

.skill-rub {
  width: 162px;
  margin-left: 27%;
}

.framework {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  gap: 24px;
  width: 281px;
  height: 336px;
}

.framework-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 281px;
  height: 40px;
}

.framework-h1,
.skills-h1,
.language-h1 {
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.framework-h1 {
  width: 227px;
  font-family: 'Inter', sans-serif;
}

.main-framework {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 186px;
  height: 272px;
}

.frame-boot,
.frame-rails,
.frame-rspec,
.frame-capy,
.frame-sel {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin-bottom: 15%;
}

.frame-boot,
.frame-rspec,
.frame-capy,
.frame-sel {
  width: 114px;
  height: 24px;
}

.frame-rails {
  width: 162px;
  height: 24px;
}

.frame-rspec {
  margin-left: 10%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  gap: 24px;
  width: 169px;
  height: 336px;
}

.skills-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 169px;
  height: 40px;
  margin-left: -16%;
}

.skills-h1 {
  width: 115px;
  font-family: 'Inter', sans-serif;
}

.main-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 138px;
  height: 272px;
}

.skill-codekit,
.skill-github,
.skill-codepen,
.skill-gitlab,
.skill-terminal {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin-bottom: 15%;
}

.skill-terminal,
.skill-codepen {
  margin-left: -20%;
}

button.hover-effect:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button.hover-effect:active {
  background-color: #e05304;
  color: #f4f1f0;
  border: 1px solid #e05304;
}

button.hover-effect:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: 1px solid #f4f1f0;
}

/*contact form */
.foot-divider {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 24px;
  gap: 58px;
  width: 375px;
  height: 844px;
}

form p {
  width: 327px;
  height: 216px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172B4D;
}

.form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 327px;
  height: 330px;
}

.input-field {
  width: 327px;
  height: 48px; 
  display: flex;
  justify-content: center; 
}

.input-field input {
  width: 295px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;  
  color: #979493;
  border: none;
  margin-bottom: -10%;
}

.msg-field {
  height: 114px;
  width: 327px;
  background-color: #FBF8F7;
  display: flex;
  justify-content: center; 
}

.msg-field textarea {
  height: 90px;
  width: 303px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3C3A39;
  background-color: #FBF8F7;
  border: none;
  padding-top: 10px;
}

.form-btn button {
  padding: 12px;
  width: 131px;
  height: 48px;
  background-color: #FF6B00;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.form-btn button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

footer {
  width: 375px;
  height: 72px;
  margin-top: -23%;
}

.footer-divider {
  height: 1px;
  width: 375px;
}

.form-social {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 40px;
  margin: 0 auto;
}

.foot-social {
  width: 24px;
  height: 24px;
  color: #505F79;
}
