/* Styles for the header section. For mobile viewport only */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  width: 375px;
  height: 6968px;
  background: #fff;
}


.header-container {
  background-color: rgb(56, 56, 56);
  width: 95%;
  margin: 0 auto;
  padding: 0.625em;
  height: 5.75em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 17%;
}

.logo {
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0;
  background-color: rgb(56, 56, 56);
  text-decoration: none;
}

img {
  align-self: center;
  height: 0.72em;
}

/* Styles for the hero section. For mobile viewport only */
h1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h4 {
  width: 327px;
  height: 27px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 123px;
  color: #fff;
}

.anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
}

.hero {
  width: 88%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
}

h1,
h4,
.para,
.anchor {
  width: 90%;
  margin: 0 auto;
  padding: 0.438em;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.sec-container {
  /*background-image: url("./img/illustration/Group.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 50% 50%;*/
  width: 100%;
  background: #1c1a19;
}

/* Styles for work and about section. For mobile viewport only */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  gap: 80px;
  position: absolute;
  width: 97%;
  height: 3455px;
  border: 5px solid gold;
}

.tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
  width: 327px;
  height: 107px;
  border: 2px solid brown;
}

h2 {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
}

.victor {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
}

.work-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  gap: 24px;
  width: 200px;
  height: 3028px;
  border: 4px solid green;
}

.card1-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px;
  gap: 24px;
  width: 84%;
  height: 568px;
  margin-bottom: 100px;
  border: 3px solid blue;
}


.work-img {
  width: 327px;
  height: 237px;
  background: url(image_processing20200716-21735-f07s4k.png);
}

.card1-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 327px;
  height: 107px;
  border: 2px solid red;
}


h3 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 147px;
  color: #091e42;
}

.tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
}

.list-css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.css {
  width: 25px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.list-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #8993a4;
}

.html {
  width: 32px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.list-bootstrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 15px;
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.boot {
  width: 71px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.list-ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}


.ruby {
  width: 37px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.project1-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 127px;
  height: 48px;
  background: #ff6b00;
  border: #ff6b00;
}

.btn {
  width: 100px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.cards-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
  gap: 24px;
  width: 375px;
  height: 2436px;
  border: 2px solid black;
}

.all-cards {
  width: 327px;
  height: 386px;
}

.cards-content {
  width: 327px;
  height: 386px;
  left: 0px;
  top: 0px;
  background-image: url("./img/cards/card2.svg");
}

.no-btn{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  width: 327px;
  height: 248px;
}

.cards-header {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}

.cards-describe {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 295px;
  height: 87px;
  color: #FFFFFF;
}

.cards-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  height: 40px;
}

.card-list-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.card-list-html li {
  width: 32px;
  height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.card-list-boot {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.card-list-boot li {
  width: 71px;
  height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.card-list-ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.card-list-ruby li {
  width: 37px;
  height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.main-action {
  width: 327px;
  height: 48px;
  background: #FF6B00;
}


.cards-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #FF6B00;
  border: #FF6B00;
  margin: 0 auto;
}

.btn-text {
  text-decoration: none;
  width: 100px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}




















