/* Styles for the header section. For mobile viewport only */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body {
  background-color: #1c1a19;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-container {
  background-color: rgb(56, 56, 56);
  width: 95%;
  margin: 0 auto;
  padding: 0.625em;
  height: 5.75em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 17%;
}

.logo {
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0;
  background-color: rgb(56, 56, 56);
  text-decoration: none;
}

img {
  align-self: center;
  height: 0.72em;
}

/* Styles for the hero section. For mobile viewport only */
h1 {
  font-family: 'Crete Round', 'Helvetica Neue', sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  color: #ff6b00;
}

h4 {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.375em;
  font-weight: 700;
  color: #fff5e1;
}

.para {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: white;
}

.anchor {
  width: 100%;
  display: flex;
  gap: 1.25em;
}

.hero {
  width: 88%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
}

h1,
h4,
.para,
.anchor {
  width: 90%;
  margin: 0 auto;
  padding: 0.438em;
}

.social {
  height: 1.5em;
  width: 100%;
}

.sec-container {
  background-image: url("./img/illustration/Illustration.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 50% 50%;
  width: 100%;
}

/* Styles for work and about section. For mobile viewport only */
